body
  padding-top: 70px

.active
  //color: rgba(0,0,0,0.75) !important
  color: rgba(255,255,255,0.75) !important


.pad-bottom
  padding-bottom: 20px

#movies img, #movie img
  width: 100%

@media(min-width: 991px)
  #movies .col-md-3 .well
    height: 400px

  #movies .col-md-3 img
    height: 240px

@media(min-width: 768px) and (max-width: 990px)
  #movies .col-sm-6 .well
    height: 490px

  #movies .col-sm-6 img
    height: 340px
